{{define "AddOrEditStudent"}}

{{template "_head"}}

{{template "_nav"}}

<div class="container mt-5">
  <h3 class="text-center">
    <a href="/" class="d-inline-flex link-body-emphasis text-decoration-none">
      <i class="bi-arrow-left-circle text-primary" style="margin-right: 12px;"></i>
    </a>

    {{if eq .Action "create"}}
    Adicionar Aluno
    {{else if eq .Action "edit"}}
    Editar Aluno
    {{else}}
    Operação Desconhecida
    {{end}}
  </h3>
</div>

<div class="container mt-4">
  <div class="row justify-content-center">
    <div class="col-12 col-md-6">

      <form method="POST" action="createOrEdit" class="mb-4 p-4 border rounded shadow">

        <input type="hidden" class="form-control" name="ID" required value="{{.Student.ID}}">

        <div class="mb-3">
          <label class="form-label">Nome</label>
          <input type="text" class="form-control" name="firstName" placeholder="Primeiro nome" required maxlength="12"
            value="{{.Student.FirstName}}">
        </div>

        <div class="mb-3">
          <label class="form-label">Sobrenome</label>
          <input type="text" class="form-control" name="lastName" placeholder="Sobrenome" required maxlength="20"
            value="{{.Student.LastName}}">
        </div>

        <div class="mb-3">
          <label class="form-label">Série</label>
          <input type="number" class="form-control" name="serie" placeholder="Série" min="1" max="10" required {{if ne
            .Student.Serie 0}}value="{{.Student.Serie}}" {{end}}>
        </div>

        <div class="mb-3">
          <label class="form-label">Ensino</label>
          <select class="form-select" aria-label="Default select example" name="serieType" required maxlength="12"
            value="{{.Student.SerieType}}">
            <option value="Fundamental">Fundamental</option>
            <option value="Médio">Médio</option>
          </select>
        </div>

        <div class="mb-3">
          <label class="form-label">Sexo</label>
          <select class="form-select" aria-label="Default select example" name="gender" required maxlength="12"
            value="{{.Student.Gender}}">
            <option value="M">Masculino</option>
            <option value="F">Feminino</option>
          </select>
        </div>

        <div class="mb-3">
          <label class="form-label">Idade</label>
          <input type="number" class="form-control" name="age" placeholder="Digite aqui a sua idade" min="1" max="99"
            required {{if ne .Student.Age 0}}value="{{.Student.Age}}" {{end}}>
        </div>

        <div class="mb-3">
          <label class="form-label">E-mail</label>
          <input type="text" class="form-control" name="email" placeholder="Escolha o seu melhor e-mail" required
            maxlength="34" value="{{.Student.Email}}">
        </div>

        <div class="my-4 d-grid gap-2">
          <button type="submit" class="btn btn-success">
            {{if eq .Action "edit"}}
            Editar Aluno
            {{else if eq .Action "create"}}
            Adicionar Aluno
            {{else}}
            Operação Desconhecida
            {{end}}
          </button>
          <a class="btn btn-danger" type="button" href="/">
            Cancelar
          </a>
        </div>

      </form>

    </div>
  </div>
</div>
</body>

</html>

{{end}}
