{{define "AddOrEditSubject"}}

{{template "_head"}}

{{template "_nav"}}

<div class="container mt-5">
  <h3 class="text-center">
    <a href="/" class="d-inline-flex link-body-emphasis text-decoration-none">
      <i class="bi-arrow-left-circle text-primary" style="margin-right: 12px;"></i>
    </a>

    {{if eq .Action "create"}}
    Adicionar Disciplina
    {{else if eq .Action "edit"}}
    Editar Disciplina
    {{else}}
    Operação Desconhecida
    {{end}}
  </h3>
</div>

<div class="container mt-4">
  <div class="row justify-content-center">
    <div class="col-12 col-md-6">

      <form method="POST" action="createOrEditSubject" class="mb-4 p-4 border rounded shadow">

        <input type="hidden" class="form-control" name="StudentID" required value="{{ .StudentID }}">

        <div class="mb-3">
          <label class="form-label">Disciplina</label>
          <select class="form-select" aria-label="Default select example" name="Title" required maxlength="12">
            <option value="">Escolha uma disciplina</option>
            <option value="Matemática">Matemática</option>
            <option value="Português">Português</option>
            <option value="Física">Física</option>
          </select>
        </div>

        <div class="mb-3">
          <label class="form-label">Nota 1</label>
          <input type="number" class="form-control" name="Score1" placeholder="Nota 1" min="1" max="10" required>
        </div>

        <div class="mb-3">
          <label class="form-label">Nota 2</label>
          <input type="number" class="form-control" name="Score2" placeholder="Nota 2" min="1" max="10" required>
        </div>

        <div class="mb-3">
          <label class="form-label">Nota 3</label>
          <input type="number" class="form-control" name="Score3" placeholder="Nota 3" min="1" max="10" required>
        </div>

        <div class="mb-3">
          <label class="form-label">Nota 4</label>
          <input type="number" class="form-control" name="Score4" placeholder="Nota 4" min="1" max="10" required>
        </div>

        <div class="my-4 d-grid gap-2">
          <button type="submit" class="btn btn-success">
            {{if eq .Action "edit"}}
            Editar Disciplina
            {{else if eq .Action "create"}}
            Adicionar Disciplina
            {{else}}
            Operação Desconhecida
            {{end}}
          </button>
          <a class="btn btn-danger" type="button" href="/">
            Cancelar
          </a>
        </div>

      </form>

    </div>
  </div>
</div>
</body>

</html>

{{end}}
