{{define "Student"}}

{{template "_head"}}

{{template "_nav"}}

<div class="container mt-3">
  <h3>
    <a href="/" class="d-inline-flex link-body-emphasis text-decoration-none">
      <i class="bi-arrow-left-circle text-primary" style="margin-right: 12px;"></i>
    </a>
    Perfil do aluno
  </h3>
</div>

<div class="container mt-3">

  <div class="row justify-content-center">

    <div class="col-12 col-sm-5 mb-5">
      <div class="card mx-auto" style="width: 18rem;">
        <img src="/assets/images/student.png" class="card-img-top mt-3">
        <div class="card-body">

          <span class="card-text fw-bold">Nome:</span>
          <span class="card-text">{{ .FirstName }} {{ .LastName }}</span><br>

          <span class="card-text fw-bold">Email:</span>
          <span class="card-text">{{ .Email }}</span><br>

          <span class="card-text fw-bold">Idade:</span>
          <span class="card-text">{{ .Age }} anos</span><br>

          <span class="card-text fw-bold">Série:</span>
          <span class="card-text">{{ .Serie }}ª série - {{ .SerieType }}</span><br>

        </div>
      </div>
    </div>

    <div class="col-12 col-sm-8">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Disciplina</th>
            <th scope="col">1º bim.</th>
            <th scope="col">2º bim.</th>
            <th scope="col">3º bim.</th>
            <th scope="col">4º bim.</th>
            <th scope="col">Média final</th>
          </tr>
        </thead>
        <tbody>
          {{range .}}
          <tr>
            <th scope="row">{{.Title}}</th>
            <td>{{.Score1}}</td>
            <td>{{.Score2}}</td>
            <td>{{.Score3}}</td>
            <td>{{.Score4}}</td>
            <td>{{.FinalMean}}</td>
          </tr>
          {{end}}
        </tbody>
      </table>
    </div>

  </div>
</div>
</body>

</html>

{{end}}