{{define "Student"}}

{{template "_head"}}

{{template "_nav"}}

<div class="container mt-5">
  <h3 class="text-center">
    <a href="/" class="d-inline-flex link-body-emphasis text-decoration-none">
      <i class="bi-arrow-left-circle text-primary" style="margin-right: 12px;"></i>
    </a>
    Perfil do Aluno
  </h3>
</div>

<div class="container mt-4">
  <div class="row justify-content-center">

    <div class="col-12 col-sm-5 mb-5">
      <div class="card mx-auto" style="width: 18rem;">
        <img {{ if eq .Student.Gender "M" }} src="/assets/images/Mstudent.png" {{ else }}
          src="/assets/images/Fstudent.png" {{ end }} class="card-img-top mt-3">
        <div class="card-body">

          <p class="card-text">
            <span class="fw-bold">Nome:</span>
            {{ .Student.FirstName }} {{ .Student.LastName }}
          </p>

          <p class="card-text">
            <span class="fw-bold">Email:</span>
            {{ .Student.Email }}
          </p>

          <p class="card-text">
            <span class="fw-bold">Idade:</span>
            {{ .Student.Age }} anos
          </p>

          <p class="card-text">
            <span class="fw-bold">Série:</span>
            {{ .Student.Serie }}ª série - {{ .Student.SerieType}}
          </p>
          
        </div>
      </div>
    </div>

    <div class="col-12 col-sm-8 mb-5">
      {{ if .Subject.Title }}
      <h4 class="mb-3">Desempenho nas disciplinas</h4>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Disciplina</th>
            <th scope="col">1º Bim.</th>
            <th scope="col">2º Bim.</th>
            <th scope="col">3º Bim.</th>
            <th scope="col">4º Bim.</th>
            <th scope="col">Média Final</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{.Subject.Title}}</td>
            <td>{{ .Subject.Score1 }}</td>
            <td>{{ .Subject.Score2 }}</td>
            <td>{{ .Subject.Score3 }}</td>
            <td>{{ .Subject.Score4 }}</td>
            <td>{{ div (add .Subject.Score1 .Subject.Score2 .Subject.Score3 .Subject.Score4) 4 }}</td>
          </tr>
        </tbody>
      </table>
      {{ else }}
      <p class="lead">Este aluno não possui disciplinas cadastradas.
        <a href="/add-subject?studentID={{ .Student.ID }}">Clique aqui</a> para adicionar uma disciplina para este
        aluno.
      </p>
      {{ end }}
    </div>

  </div>
</div>
</body>

</html>

{{end}}